<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %> 
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <div class="co">
        <h4 class="new-header">Search by Title or Author</h4>
    </div>
    <div class="container">
        <%- include('../layout/edit') %>
    </div>
    <footer>
        <%- include('../../layout/footer') %> 
    </footer>
</body>

</html>